#draggableTimeline {
  position:absolute;
  cursor: move;
  z-index: 10;
  background-color: #2196F3;
  width:40px;
  height:40px;
  border-radius: 50%;
  top:560px;
}

#timeline{
  clear:left;
  margin-bottom:1%;
  z-index:0;
}

.timelineDivs{
  overflow:auto;
  font-size: 15px;
  width:7.5%;
  height:300px;
  margin-left:5%;
  float:left;
  margin-bottom:1%;
}

.timelineDivsN1{
  margin-left: 20%;
}

.timelineDivsBTM{
  margin-left:19%;
  top:3px;
}
